:root{
  --heart-color:  rgb(255, 91, 137);
}
.heart-container {
  position: relative;
  width: 27px;
  height: 27px;
  transition: .3s;
}

.heart-container .checkbox {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 20;
  cursor: pointer;
}

.heart-container .svg-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.heart-container .svg-outline, .heart-container .svg-filled {
  fill: var(--heart-color);
  position: absolute;
}

.heart-container .svg-filled {
  animation: keyframes-svg-filled 1s;
  display: none;
}

.heart-container .svg-celebrate {
  position: absolute;
  animation: keyframes-svg-celebrate .5s;
  animation-fill-mode: forwards;
  display: none;
  stroke: var(--heart-color);
  fill: var(--heart-color);
  stroke-width: 1.5px;
}

.heart-container .checkbox:checked~.svg-container .svg-filled {
  display: block
}

.heart-container .checkbox:checked~.svg-container .svg-celebrate {
  display: block
}

@keyframes keyframes-svg-filled {
  0% {
    transform: scale(0);
  }

  25% {
    transform: scale(1.2);
  }

  50% {
    transform: scale(1);
    filter: brightness(1.5);
  }
}

@keyframes keyframes-svg-celebrate {
  0% {
    transform: scale(0);
  }

  50% {
    opacity: 1;
    filter: brightness(1.5);
  }

  100% {
    transform: scale(1.4);
    opacity: 0;
    display: none;
  }
}

.small-scroll::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
.small-scroll::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(218, 218, 218); 
  border-radius: 10px;
}
.small-scroll::-webkit-scrollbar-thumb {
  background: rgb(233, 233, 233); 
  border-radius: 10px;
}


  /* -----chatting css -profile */
  .collapsibleDiv {
    height: 250px;
    overflow: hidden;
  }
  
  @keyframes collapse {
    from { opacity: 1; }
    to { opacity: 0; }
  }
  
  .collapsibleDiv.collapsedDiv {
    animation: collapse 2s ease-in-out forwards;
    animation-delay: 3s;
  }